<!-- main page with your feed -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles/1main.css">
</head>
<body>

    <div class="navbar">
        <button onclick="Redirect">Main Feed</button> <!-- # is where a link would go!! -->
        <button onclick="Redirect">Search</button>
        <button onclick="Redirect">Upload</button>
        <button onclick="Redirect" class="right">Sign Out</button>
        <button onclick="Redirect" class="right">My Profile</button>
  </div>

</body>
</html>