<!DOCTYPE html>
<html>
<head>
    <title>Polls</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/1main.css') }}">
    <link rel="stylesheet" href="../static/styles/polls.css">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('main_feed') }}"><button>Main Feed</button></a>
        <button id="openSearchModalBtn">Search</button> <!-- Changed to button to trigger modal -->
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('profile', username=current_user.username) }}" class="right"><button>My Profile</button></a>
            <a href="{{ url_for('logout_view') }}" class="right"><button>Logout</button></a>
            <a href="{{ url_for('polls') }}" class="right"><button>Polls</button></a>

        {% else %}
            <a href="{{ url_for('login_view') }}" class="right"><button>Login</button></a>
        {% endif %} 
    </div>


    <h1>Current Polls</h1>
    {% for poll in polls %}
    <div class="poll-card">
        <h2>{{ poll.question }}</h2>
        <form method="POST" action="{{ url_for('polls') }}">
            <input type="hidden" name="poll_id" value="{{ poll.id }}">
            <button type="submit" name="option" value="1">{{ poll.option1 }}</button>
            <button type="submit" name="option" value="2">{{ poll.option2 }}</button>
        </form>
        <p>Votes: {{ poll.votes1 }} vs {{ poll.votes2 }}</p>
    </div>
    {% endfor %}
</body>
</html>
