<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recover Password</title>
    <link rel="stylesheet" href="../static/styles/1main.css">
</head>
<body>

    <div class="navbar">
        <button onclick="sampleRedirect">Main Feed</button> <!-- # is where a link would go!! -->
        <button onclick="sampleRedirect">Search</button>
        <button onclick="sampleRedirect">Upload</button>
        <button onclick="sampleRedirect" class="right">My Profile</button>
  </div>

</body>
</html>