<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Register</title>
  <link rel="stylesheet" href="../static/styles/register.css">
</head>
<body>
  <div class="register">
    <div class="card">
      <div class="left">
        <h1>Welcome</h1>
        <p>Connect with other pet lovers!</p>
        <span>Already have an account?</span>
        <a href="{{ url_for('login_view') }}">
          <button type="button">Login</button>
        </a>
      </div>
      <div class="right">
        <h1>Register</h1>
        <form method="POST" action="{{ url_for('register_view') }}">
          <input type="text" name="username" placeholder="Username" required />
          <!-- <input type="email" name="email" placeholder="Email" required /> -->
          <input type="password" name="password" placeholder="Password" required />
          <!-- <input type="text" name="name" placeholder="Full Name" required /> -->
          <input type="text" name="question" placeholder="Create a Security Question" required />
          <input type="text" name="answer" placeholder="Answer your Security Question" required />
          <button type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
